*{
    font-size: 18pt;
}

:root{
    --main-bg-color: rgb(127, 255, 144);
    --calculator-bg-color: rgb(107, 105, 105);
    --clear-btn-color: rgb(219, 72, 72);
    --delete-btn-color: rgb(135, 135, 216);
    --num-btn-color: rgb(212, 212, 212);
    --display-color: rgb(124, 207, 218);
}

body{
    background-color: var(--main-bg-color);
}

#calculator{
    background-color: var(--calculator-bg-color);
    height: 750px;
    width: 550px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: 2pt solid black;
    box-shadow: 10px 10px rgb(175, 175, 175);
}

#buttons{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px ;
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 10px 10px;
}

#clear{
    grid-column: span 2;
    background-color: var(--clear-btn-color);
}

#delete{
    grid-column: span 2;
    background-color: var(--delete-btn-color);
}

#display{
    box-sizing: border-box;
    background-color: var(--display-color);
    height: 100px;
    width: 500px;
    border-radius: 25px;
    margin: 30px;
    padding: 10px;
    text-align: right;
    line-height: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24pt;
    border: 2pt solid black
}

.operand, #equals{
    font-size: 24pt !important;
}

.button{
    background-color: var(--num-btn-color);
    border: 2pt solid black;
    border-radius: 25px;
}

.button:hover{
    opacity: 0.7;
}
